<mat-toolbar>
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Welcome back, {{ currentUser?.firstName }} {{ currentUser?.lastName }}!</span>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened>
    <mat-nav-list>
      <a mat-list-item routerLink="/settings">Settings</a>
      <a mat-list-item routerLink="/profile">Profile</a>
      <a mat-list-item routerLink="/subscription">Subscription</a>
      <a mat-list-item routerLink="/library">Your Library</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <!-- Main content -->
    <div>
      <!-- Your main content here -->
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
