
.toolbar-item-spacer {
  flex: 1 1 auto;
}

.app-container {
  height: 90%;
  margin: 0;
}

.app-sidenav {
  width: 230px;
}

.app-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.search-results {
  margin-top: 50px;
}

.search-container {
  position: relative;
  width: 200px;
}

.search-input {
  width: 100%;
  box-sizing: border-box;
  padding-right: 40px; /* make room for the button */
}

.search-button {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 40px; /* adjust this if you want the button larger or smaller */
  border: none;
  background: none;
  cursor: pointer;
}

.active-link {
  background-color: red; /* for example */
}
