@import '~bootstrap/dist/css/bootstrap.min.css';

.search-container {
  position: relative;
  width: 200px;
}

.search-input {
  width: 100%;
  box-sizing: border-box;
  padding-right: 40px; /* make room for the button */
}

.search-button {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 40px; /* adjust this if you want the button larger or smaller */
  border: none;
  background: none;
  cursor: pointer;
}
