.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

.login-title {
  font-family: Arial, sans-serif;
  font-size: 28px;
  font-weight: 700;
  color: #333;
  text-transform: uppercase;
}

.book-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
}

  .login-image img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    border-radius: 15px;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
  }

form {
  width: 80%;
  margin-top: 50px;
}

.mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}

.error-message {
  color: #FF5733;
  margin-bottom: 10px;
}

button {
  margin-top: 10px;
}
