<div class="modal">
  <div class="modal-content">
    <h2 class="modal-title">Registration</h2>
    <form [formGroup]="formGroup" class="registration-form">
      <mat-form-field appearance="fill">
        <mat-label>Email:</mat-label>
        <input matInput type="email" formControlName="email">
      </mat-form-field>
      <div class="error-message">{{ getErrorMessage('email') }}</div>

      <mat-form-field appearance="fill">
        <mat-label>Password:</mat-label>
        <input matInput type="password" formControlName="password">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>First Name:</mat-label>
        <input matInput type="text" formControlName="firstName">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Last Name:</mat-label>
        <input matInput type="text" formControlName="lastName">
      </mat-form-field>

      <div>
        <small class="text-muted">Optional:</small>
      </div>

      <mat-form-field appearance="fill">
        <mat-label>Date of Birth:</mat-label>
        <input matInput type="date" formControlName="dateOfBirth">
      </mat-form-field>

      <div class="buttons">
        <button mat-raised-button color="accent" (click)="onCloseClicked()">Close</button>
        <button mat-raised-button color="primary" [disabled]="!canSave" (click)="onRegisterClicked()">Register</button>
      </div>
    </form>
  </div>
</div>
